<div class="flex flex-col p-6 pr-4 pb-4">
  <div class="font-bold text-md text-secondary uppercase tracking-wider mr-4">
    INDICADORES VITAIS 666
  </div>
  <div class="flex flex-col flex-auto">
    <apx-chart
      class="flex-auto w-full h-96"
      [chart]="indicadoresVitaisOptions?.chart!"
      [colors]="indicadoresVitaisOptions?.colors!"
      [fill]="indicadoresVitaisOptions?.fill!"
      [series]="indicadoresVitaisOptions?.series!"
      [stroke]="indicadoresVitaisOptions?.stroke!"
      [tooltip]="indicadoresVitaisOptions?.tooltip!"
      [xaxis]="indicadoresVitaisOptions?.xaxis!"
      [yaxis]="indicadoresVitaisOptions?.yaxis!"
      [dataLabels]="indicadoresVitaisOptions?.dataLabels!"
    >
    </apx-chart>
  </div>
</div>
